/*animation*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*main*/
html {
  background-color: #612B25;
  position: relative;
  min-height: 100%;
}

h1 {
  text-align: center;
  animation: fadeIn 1s;
}

header span {
  color: lightgrey;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2%;
  padding: 1%;
  border: 1px solid lightgrey;
}

footer {
  color: #EEA9A2;
  border-top: 1px solid lightgrey;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 0.5%;
  animation: fadeIn 1s;
}

#foot {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.box {
  background-color: lightgrey;
  max-width: 65%;
  overflow: scroll;
  margin: 0 auto;
  max-height: 60vh;
  border: 2px solid black;
  animation: fadeIn 0.1s;
}

#landing {
  margin-bottom: 21.5vh;
  text-align: center;
}

#landing i {
  margin-top: 7%;
  font-size: 10rem;
}

/* old results div
#results {
  text-align: center;
  margin: 0 auto;
  width: 75%;
  height: 50%;
  border: 2px solid black;
  overflow: scroll;
  animation: fadeIn 1s;
} */

/*fonts*/
h1, button {
  Font-Family: 'Ubuntu', Sans-Serif;
}

span {
  Font-Family: 'Open Sans', Sans-Serif;
}

/*links*/
#git {
  color: #EEA9A2;
}

#git:hover {
  color: darkgrey;
}

#git:active {
  color: #EEA9A2;
}

/*buttons*/
#buttons {
  text-align: center;
  animation: fadeIn 1s;
  margin-bottom: 2rem;
}

button {
  background-color: darkgrey;
  padding: 1%;
  color: black;
  font-weight: bold;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 0.5rem;
  width: 7rem;
  border: 2px solid black;
  border-radius: 3%;
  height: 3.5rem;
  transition: box-shadow 0.2s ease-out;
}

#buttons span {
  margin: 0;
}

button:hover {
  box-shadow: 10px 10px black;
}

button:active {
  color: whitesmoke;
}

#highlight {
  color: lightgrey;
}

/*media queries*/
@media only screen and (max-width: 770px) {
  .box {
    max-width: 90%;
  }

  #buttons {
    margin-bottom: 3rem;
  }
}
