/*animation*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*main*/
html {
  background-color: #612B25;
  position: relative;
  min-height: 100%;
}

h1 {
  text-align: center;
  animation: fadeIn 1s;
}

h2 {
  animation: fadeIn 1s;
}

header span {
  color: lightgrey;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2%;
  padding: 1%;
  border: 1px solid lightgrey;
}

footer {
  color: #EEA9A2;
  border-top: 1px solid lightgrey;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 0.5%;
  animation: fadeIn 1s;
}

#foot {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.box {
  background-color: rgba(211, 211, 211, 0.3);
  width: 65%;
  margin: 0 auto;
  height: 60vh;
  border: 3px solid black;
  animation: fadeIn 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing {
  margin-bottom: 21.5vh;
  text-align: center;
}

#landing i {
  margin-top: 7%;
  font-size: 10rem;
  animation: fadeIn 1s;
}

/*fonts*/
h1, button, h2 {
  font-family: 'Ubuntu', Sans-Serif;
}

span {
  font-family: 'Open Sans', Sans-Serif;
}

/*links*/
#git {
  color: #EEA9A2;
}

#git:hover {
  color: darkgrey;
}

#git:active {
  color: #EEA9A2;
}

.box a {
  color: black;
  transition: background-color 0.5s ease-out;
  border-radius: 5%;
}

.box a:hover {
  text-decoration: none;
  background-color: #612B25;
}

.box a:active {
  text-shadow: 1px 1px whitesmoke;
}

/*buttons*/
#buttons {
  text-align: center;
  animation: fadeIn 1s;
  margin-bottom: 2rem;
}

button {
  background-color: darkgrey;
  padding: 1%;
  color: black;
  font-weight: bold;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 0.5rem;
  width: 7rem;
  border: 2px solid black;
  border-radius: 3%;
  height: 3.5rem;
  transition: box-shadow 0.2s ease-out;
}

#buttons span {
  margin: 0;
}

button:hover {
  box-shadow: 10px 10px black;
}

button:active {
  color: whitesmoke;
}

#highlight {
  color: lightgrey;
}

/*media queries*/
@media only screen and (max-width: 770px) {
  .box {
    width: 90%;
  }

  #buttons {
    margin-bottom: 3rem;
  }

  #landing i {
    margin-top: 30%;
    font-size: 10rem;
  }

  h2 {
    margin-top: 38%;
  }

  button {
    margin-left: 2%;
    margin-right: 2%;
  }
}
