html {
  background-color: #612B25;
}

h1 {
  text-align: center;
}

header span {
  color: lightgrey;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2%;
  padding: 1%;
  border: 1px solid lightgrey;
}

#buttons {
  text-align: center;
}

button {
  background-color: darkgrey;
  padding: 1%;
  color: black;
  font-weight: bold;
  margin: 1%;
  width: 7rem;
  border: 2px solid black;
  border-radius: 3%;
  height: 3.5rem;
  transition: box-shadow 0.2s ease-out;
}

button:hover {
  box-shadow: 10px 10px black;
}

button:active {
  color: whitesmoke;
}

#highlight {
  color: lightgrey;
}

#results {
  margin: 30%;
}
